.image {
  background-image: url("https://img.freepik.com/free-photo/top-view-recipe-book-still-life-concept_23-2149055996.jpg?t=st=1649110476~exp=1649111076~hmac=200679393026ce1947380949542efd2921bee9f3c3109bd5364235516b5a24a0&w=900");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
